/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: mediumpurple;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(41, 38, 43, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: magenta;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: orange;
}

.input-group input {
    /* width: 100%; */
    width: -webkit-fill-available;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6f42c1; /* Purple */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5a32a3; /* Darker Purple */
}

p {
    margin-top: 15px;
    color: whitesmoke;
}

a {
    color: #fd7e14; /* Orange */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}